body{
    background-image: url(../images/contact/cForm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:cover;

}

.cForm{   
    padding: 100px 70px 0 70px;   
}
.donhead{
    position: relative;
    margin-top: 0%;
}
.contact-form-item{
    height: 60px;
    width: 500px;
    padding: 5px;
    font-size: 15px;
    font-size: 24px;
    background-color: rgb(0,0,0,0.5);
    border-style: none;
    outline: none;
    padding: 10px;
    color: white;
}

.contact-form-phone{
    height: 60px;
    padding: 5px;
    font-size: 15px;
    font-size: 24px;
    background-color: rgb(0,0,0,0.5);
    border-style: none;
    outline: none;
    padding: 10px;
    color: white;
}

.contact-form-txt{
    height: 200px;
    width: 850px;
    padding: 5px;
    font-size: 15px;
    font-size: 24px;
    background-color: rgb(0,0,0,0.5);
    border-style: none;
    outline: none;
    padding: 10px;
    color: white;
}

.contact-form-phone::placeholder,.contact-form-item::placeholder , .contact-form-txt::placeholder{
    color: white;
    opacity: 1;
}

.contact-form-phone:active,.contact-form-item:active , .contact-form-txt:active{
    color: unset;
    background-color: unset;
}

#cUs{
    color: #f6c20a;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 70px;
}

.cDetails{
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.cDetails, table{
   border: 1px solid rgb(78, 76, 76) ;
   background-color: rgb(231, 220, 220);
   color: #272927;
   width: 100%;
   text-align: left;
   box-shadow: 5px 5px 9px rgba(29, 27, 27, 0.8);
   
}

.boxer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:  80px 0 0 0;
    width: 400px;
    height: 400px;
}

.head{
    font-size: 30px;
    margin: 20px 0;
}

.head > i{
    margin-right: 30px;
}

.child{
    font-size: 24px;
    font-weight: 400;
}

#sLinks{
    font-size: 40px;
    margin-left: 20px;
    transition: .5s all ease;
}

#sLinks > a > i{
    transition: .5s all ease;
}

#sLinks > a > i:hover{
    color: #005c31;
    transform: translateY(-5px);

}

td{
    padding: 10px 0px 10px 50px;
    margin: 0 150px;
}

#sMedia{
    color: #272927;
    margin: 15px 30px 0 0 ;
    
}
#sLink a {
    font-size: 33px;
    color: rgb(231, 220, 220);
}

#gmail {
color: #272927;
}


#inquire {
    text-align: left;      
}

input, #salutaion {
    width: 310px;
    height: 35px;
    margin-right: 10px;
    background-color: #f4eeee;
    border-color: #e9dede;
}
textarea{
    background-color: #f4eeee;
    border:2px solid #f4eeee;
}

#resetBtn, #subBtn{
    background-color: #353834;
    color: #f1c40f;
    border-color: #2c2929;
    width: 95px;
    height: 33px;
    margin-right: 35px;
    float: right;      
}

#subBtn:hover, #resetBtn:hover{
    background-color: #f1c40f;
    color: #353834;
    border-color: #2c2929;
}

.a {
    width: 40%;
    height: 100px;
    margin-left: 5px;
    float: right;
}

