*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    body{
      zoom: 80%;
      overflow-x: hidden;
    }
}


body{
  overflow-x: hidden;
}

/* formatings for header */

header{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fbffa1;
    z-index: 10;
    transition: .5s all ease-in;
    margin-bottom: 20px;
    /* background-color: #02353c; */
}

.head-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.head-container > .head-sector{
    position: relative;
    left: 50px;
    display: flex;
    align-items: center;
    
}

.head-container > .head-sector > .logo > img{
    top: 5px;
    height: 60px;
    width: auto;
    margin: 0 20px;
}

section{
  position: fixed;
  display: flex;
  justify-content: center;
  left: 30px;
  height: 250px;
  width: 250px;
  clip-path: polygon(0 0, 100% 0, 100% 54%, 0 95%);
  background-color: #fbffa1;
  z-index: 100;
  transition: .5s all ease-in;
  transform: translateY(-100%);
}

section.sticky{
  visibility: visible;
  transform: translateY(0);
}

section > .log-main{
  position: relative;
  top: 30px;
  height: 107px;
  width: 210px;
  background-image: url("../images/WSM-updated-logo.png");
  background-size: cover;
} 

.head-container > .head-sector >.user{
    height: 50px;
    width: 230px;
}

.sign-btn-container{
  display: flex;
  width: 350px;
  height: 65px;
}

.profiler{
  height: 60px;
  width: 60px;
  background-image: url("../images/headerimg.png");
  background-size: cover;
  border-radius: 50%;
}

.logger{
  padding: 10px 20px;
  width: auto;
  height: 50px;
  border:  3px solid darkgreen;
  margin-top: 8px;
  margin-left: 30px;
  text-transform: capitalize;
  transition: .4s all ease;
}

.logger:hover{
  background-color: darkgreen;
  color: white;
  font-weight: 500;
}

.nav-btns{
    position: relative;
    right: 100px;
    height: 100%;
    font-size: 18px;
}

.nav-btns ul li{
    color: #01290a;
    list-style: none;
    float: left;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer;
    /* border-bottom: 3px solid transparent; */
    transition: .5s all ease-in-out;
    letter-spacing: 2px;
}


.nav-btns ul li:hover{
    color: #8dc53e;
}

a:visited{
  color: unset;
}
