*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/back-7.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.error{
    color: red;
}

.login-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 700px;
    top: 100px;
    margin-bottom: 200px;
    border-radius: 25px;
}

.col{
    height: 700px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 250px;
}


.co1{
    width: 420px;
}

.co2{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 570px;
}

.conta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 550px;
    height: 120px;
    padding-left: 40px;
}

.liner > i{
    padding-right: 10px;
}

.liner{
    font-size: 25px;
    padding-left: 40px;
}

.heading{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0;
    width: 550px;
    height: 100px;
    padding-left: 40px;
    font-size: 35px;
}

.log-input{
    margin-top: 10px;
    height: 60px;
    width: 450px;
    border-radius: 15px;
    outline: none;
    background-color: rgb(0, 0, 0,.4);
    color: white;
    border-style: none;
    padding: 5px 40px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;

}

.log-input::placeholder{
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

.btn-conta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 550px;
}

.btn-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.log-submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #fbffa1;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: capitalize;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: 5px 5px 9px black;
    transition: .5s all;
}

.log-submit-btn:hover{
    background-color: #d6dc70;
    cursor: pointer;
}

.tagliner{
    letter-spacing: 6px;
    margin-top: 10px;
}
